USE [master]
GO
/****** Object:  Database [DienThoaiDiDong]     Date: 04/15/2018 7:48:23 PM ******/
CREATE DATABASE [DienThoaiDiDong]
Go
USE [DienThoaiDiDong]
GO
/****** Object:  Table [dbo].[chitiethoadon]     Date: 04/15/2018 7:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[hoadon_id] [int] NOT NULL,
	[sanpham_id] [int] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [int] NULL,
 CONSTRAINT [PK_chitiethoadon] PRIMARY KEY CLUSTERED 
(
	[hoadon_id] ASC,
	[sanpham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hoadon]     Date: 04/15/2018 7:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[hoadon_id] [int] IDENTITY(1,1) NOT NULL,
	[ngaygiao] [datetime] NULL,
	[ngaydat] [datetime] NULL,
	[dathanhtoan] [nvarchar](50) NULL,
	[tinhtranggiaohang] [nvarchar](50) NULL,
	[khachhang_id] [int] NULL,
 CONSTRAINT [PK_hoadon] PRIMARY KEY CLUSTERED 
(
	[hoadon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[khachhang]     Date: 04/15/2018 7:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[khachhang_id] [int] IDENTITY(1,1) NOT NULL,
	[khachhang_name] [nvarchar](50) NULL,
	[khachhang_ns] [date] NULL,
	[khachhang_diachi] [nvarchar](50) NULL,
	[khachhang_sdt] [nchar](15) NULL,
	[khachhang_taikhoan] [nvarchar](50) NULL,
	[khachhang_matkhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[khachhang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sanpham]     Date: 04/15/2018 7:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[sanpham_id] [int] IDENTITY(1,1) NOT NULL,
	[sanpham_name] [nvarchar](50) NULL,
	[gia_sanpham] [int] NULL,
	[soluong_sp] [int] NULL,
	[theloai_id] [nvarchar](50) NULL,
	[hinhanh_sp] [text] NULL,
	[hinhanh_sp1] [text] NULL,
	[hinhanh_sp3] [text] NULL,
	[hinhanh_sp4] [text] NULL,
	[kichthuoc_hinhanh] [text] NULL,
	[camera_truoc] [text] NULL,
	[camera_sau] [text] NULL,
	[he_dieu_hanh] [nvarchar](200) NULL,
	[cpu] [nvarchar](200) NULL,
	[ram] [nvarchar](200) NULL,
	[bo_nho_trong] [nvarchar](200) NULL,
	[the_nho] [nvarchar](200) NULL,
	[sim] [nvarchar](200) NULL,
	[ket_noi] [nvarchar](200) NULL,
	[pin] [nvarchar](100) NULL,
	[chuthich] [nvarchar](500) NULL,
	[moi] [int] NULL,
	[style] [int] NULL,
 CONSTRAINT [PK_sanpham] PRIMARY KEY CLUSTERED 
(
	[sanpham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[theloaisp]     Date: 04/15/2018 7:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloaisp](
	[theloai_id] [nvarchar](50) NOT NULL,
	[theloai_name] [nvarchar](50) NULL,
	[phukien] [int] NULL,
	[parent_id] [nchar](10) NULL,
 CONSTRAINT [PK_theloaisp] PRIMARY KEY CLUSTERED 
(
	[theloai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]     Date: 04/15/2018 7:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Taikhoan] [nvarchar](50) NOT NULL,
	[Matkhau] [nvarchar](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[chitiethoadon] ([hoadon_id], [sanpham_id], [soluong], [dongia]) VALUES (1, 7, 4, 19990000)
INSERT [dbo].[chitiethoadon] ([hoadon_id], [sanpham_id], [soluong], [dongia]) VALUES (1, 14, 1, 3790000)
INSERT [dbo].[chitiethoadon] ([hoadon_id], [sanpham_id], [soluong], [dongia]) VALUES (1, 19, 1, 5990000)
SET IDENTITY_INSERT [dbo].[hoadon] ON 

INSERT [dbo].[hoadon] ([hoadon_id], [ngaygiao], [ngaydat], [dathanhtoan], [tinhtranggiaohang], [khachhang_id]) VALUES (1, NULL, CAST(N'2016-06-14 21:09:18.737' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[hoadon] ([hoadon_id], [ngaygiao], [ngaydat], [dathanhtoan], [tinhtranggiaohang], [khachhang_id]) VALUES (2, NULL, CAST(N'2016-06-15 19:56:04.937' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[hoadon] OFF
SET IDENTITY_INSERT [dbo].[khachhang] ON 

INSERT [dbo].[khachhang] ([khachhang_id], [khachhang_name], [khachhang_ns], [khachhang_diachi], [khachhang_sdt], [khachhang_taikhoan], [khachhang_matkhau]) VALUES (1, N'Lê Thị Thanh Huyền', CAST(N'1995-06-01' AS Date), N'Nghệ an', N'0983730144     ', N'HuyenMTA', N'010695')
INSERT [dbo].[khachhang] ([khachhang_id], [khachhang_name], [khachhang_ns], [khachhang_diachi], [khachhang_sdt], [khachhang_taikhoan], [khachhang_matkhau]) VALUES (2, N'Trần thị Ngọc', CAST(N'1995-03-12' AS Date), N'Hải Dương', N'09746232       ', N'NgocNgo', N'120395')
INSERT [dbo].[khachhang] ([khachhang_id], [khachhang_name], [khachhang_ns], [khachhang_diachi], [khachhang_sdt], [khachhang_taikhoan], [khachhang_matkhau]) VALUES (3, N'Dương Thị Anh', CAST(N'1995-02-19' AS Date), N'Hải Dương', N'0962075028     ', N'AnhDuong', N'190295')
SET IDENTITY_INSERT [dbo].[khachhang] OFF
SET IDENTITY_INSERT [dbo].[sanpham] ON 

INSERT [dbo].[sanpham] ([sanpham_id], [sanpham_name], [gia_sanpham], [soluong_sp], [theloai_id], [hinhanh_sp], [hinhanh_sp1], [hinhanh_sp3], [hinhanh_sp4], [kichthuoc_hinhanh], [camera_truoc], [camera_sau], [he_dieu_hanh], [cpu], [ram], [bo_nho_trong], [the_nho], [sim], [ket_noi], [pin], [chuthich], [moi], [style]) VALUES (5, N'Iphone 5S 16GB', 8490000, 4, N'TL01', N'iphone5s.jpg', NULL, NULL, NULL, NULL, N'1,2MP', N'8MP', N'iOs9', N'Apple A7 2 nhân 64bit, 1.3GHz', N'1GB', N'16GB', N'Không', N'1 sim,nano sim', N'wiffi,3G,4G LTE cat4', N'1560 mAh', NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[sanpham] OFF
INSERT [dbo].[theloaisp] ([theloai_id], [theloai_name], [phukien], [parent_id]) VALUES (N'TL01', N'SAMSUNG ', 0, NULL)
INSERT [dbo].[theloaisp] ([theloai_id], [theloai_name], [phukien], [parent_id]) VALUES (N'TL02', N'IPHONE', 0, NULL)
INSERT [dbo].[theloaisp] ([theloai_id], [theloai_name], [phukien], [parent_id]) VALUES (N'TL03', N'OPPO', 0, NULL)
INSERT [dbo].[User] ([Taikhoan], [Matkhau]) VALUES (N'Admin', N'123456')
INSERT [dbo].[User] ([Taikhoan], [Matkhau]) VALUES (N'Huyen', N'matkhaulagi')
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_hoadon] FOREIGN KEY([hoadon_id])
REFERENCES [dbo].[hoadon] ([hoadon_id])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_hoadon]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_sanpham] FOREIGN KEY([sanpham_id])
REFERENCES [dbo].[sanpham] ([sanpham_id])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_sanpham]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_khachhang] FOREIGN KEY([khachhang_id])
REFERENCES [dbo].[khachhang] ([khachhang_id])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_khachhang]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_theloaisp] FOREIGN KEY([theloai_id])
REFERENCES [dbo].[theloaisp] ([theloai_id])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_theloaisp]
GO
USE [master]
GO
