@{
    ViewBag.Title = "Khuyến mãi";
    Layout = "~/Views/Shared/LayOut.cshtml";
}

<div id="bg" style="height: 220px; width:100%; background-image: url('/Hinhanh/Netcen Welcome.png')"> </div>
<div style="background-color:#808080;height:2px"></div>
<style>
    .nivoSlider {
        display: none;
    }

    .km {
        display: none;
    }
</style>
<h3>IPHONE - TRẢ GÓP KHÔNG CẦN TRẢ TRƯỚC | TRẢ GÓP LÃI SUẤT 0% (TRẢ TRƯỚC 30%) | TẶNG PMH TỪ 600 NGÀN ĐẾN 12 TRIỆU</h3>
<h4 style="color:red">Điện thoại iPhone 6s Plus 64GB</h4>

<img src="~/Hinhanh/khuyenmai/iphone-6s-plus-64gb-400-400x450.png" />
<h4>
    24.690.000₫
    CÒN 16 Ngày 
    <br />
    <span style="color:#2c2c81">
        Mua hàng để tham gia vòng quay trúng phiếu mua hàng:
        <br />
        600.000 29 ô
        1.500.000 1 ô
       <br /> 3.000.000 1 ô
         12.000.000 1 ô	
      </span>
</h4>


<style>
    h3 {
        text-align:left;
        text-indent: 50px;
        /*dùng để dịch từ đầu tiên vào trong*/
    }
</style>