@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/LayOut.cshtml";
}

<div id="bg" style="height: 220px; width:100%; background-image: url('/Hinhanh/Netcen Welcome.png')"> </div>
<div style="background-color:#808080;height:2px"></div>


<style>
    .nivoSlider {
        display: none;
    }

    .km {
        display: none;
    }
  
</style>


<h4><span>Tin tức 1 :</span> Trong ngày hôm nay tất cả các loại điện thoại sẽ được giảm giá từ 20-50%</h4>

<h4><span>Tin tức 2 :</span> Khi mua 2 chiếc điện thoại có trị giá >15 triệu , quý khách sẽ được miền phí một chiếc tai nghe tự chọn giá từ 100-150 nghìn đồng. </h4>

<h2 style="font:bold;color:#061d4e"><span>Tin tức 3 :</span> Khi các nhà sản xuất Android chạy đua để copy từ những chiếc iPhone chưa ra mắt: </h2>
<h4>
    Trong ngày hôm nay, Lenovo đã thu hút sự chú ý mạnh mẽ của báo giới khi ra mắt chiếc Moto Z có thiết kế module mở rộng tính năng bằng... ốp lưng. Thế nhưng, nhiều người lại không để ý đến một điểm nhấn quan trọng của 2 mẫu Moto Z và Moto Z Force: chúng không có cổng tai nghe 3.5mm.
    Nếu như bạn cảm thấy ngờ ngợ khi đọc thông tin này, đó là bởi cụm từ “bỏ cổng tai nghe” đã liên tục xuất hiện trên mặt báo trong nhiều tháng qua. Theo nhiều nguồn tin, chiếc iPhone 7 của Apple sẽ loại bỏ cổng 3.5mm cũ kỹ để giảm độ dày của điện thoại, đồng thời nâng cao chất lượng âm thanh qua tai nghe.

    Như vậy, từ khi iPhone 7 chưa ra mắt, ít nhất một tính năng được đồn đại của mẫu smartphone này đã có mặt trên các sản phẩm của đối thủ. Và đây cũng không phải là lần đầu tiên điều này xảy ra.Vào năm 2013, khi phần nhiều sự chú ý được dành cho mẫu iPhone 5c (lúc đó được suy đoán là iPhone giá rẻ) thì Apple cũng âm thầm phát triển chiếc iPhone 5s có cảm biến vân tay.
</h4>
<img src="~/Hinhanh/tintuc/khi-cac-nha-san-xuat-android-chay-dua-de-copy-tu-nhung-chiec-iphone-chua-ra-mat.jpg" />

<h4>
    Cũng giống như 90% các tin đồn khác về iPhone, thông tin này sau đó trở thành sự thật khi iPhone 5s ra mắt với Touch ID. Chỉ đúng một tháng sau đó, HTC vén màn phiên bản phablet của chiếc One M7 dưới tên gọi “HTC One Max”.
    trong những điểm đáng chú ý nhất của One Max là cảm biến vân tay. Hiển nhiên, không một ai có thể phát triển smartphone trong vòng 1 tháng, chưa kể chiếc HTC One M8 cũng không có cảm biến vân tay. Như vậy, chúng ta hoàn toàn có thể đoán ra rằng HTC đã đón đầu sự chú ý của iFan nói riêng và tất cả người dùng smartphone nói chung khi lắng nghe “lời đồn” về Touch ID trên iPhone 5s.
    Sang đến 2015, Apple rục rịch mang lên iPhone 6s và iPhone 6s Plus một tính năng có thể thay đổi trải nghiệm của người dùng: cảm biến lực nhấn trên màn hình. Thực chất, tính năng này đã có trên chiếc Apple Watch được vén màn từ 1 năm trước đó và hiển nhiên là cũng đã xuất hiện rất nhiều trong những thông tin rò rỉ nói về 2 mẫu iPhone chưa ra mắt.Nhưng khi iPhone 6s và iPhone 6s Plus vẫn chưa lên kệ thì Huawei đã nhanh tay đưa tính năng cảm biến lực nhấn lên mẫu đầu bảng Mate S. “Cao thủ” hơn cả HTC, Mate S ra mắt trước iPhone 6s và iPhone 6s Plus hẳn một tuần. Thậm chí, nhà sản xuất Trung Quốc còn đặt tên cho tính năng này là “Force Touch”, giống hệt công nghệ cảm biến lực nhấn dùng trên Apple Watch. Có lẽ là Huawei đã nhanh tay đăng ký thương hiệu Force Touch trước Apple tại một vài nơi nên chiếc Mate S cũng được phép dùng cụm từ “Force Touch” và cũng chỉ ra mắt tại một số thị trường giới hạn.
    Đến năm nay, Huawei lại một lần nữa vượt mặt Apple khi ra mắt công nghệ camera kép trên mẫu P9 được vén màn từ đầu tháng 3, tức là trước thời điểm phát hành dự kiến của iPhone 7 tận nửa năm. Camera được gắn thương hiệu Leica của Huawei P9 sử dụng 2 cảm biến song song để kết hợp vào làm một bức ảnh tuyệt vời. Không biết có trùng hợp gì không nhưng Apple đã mua lại một công ty sử dụng camera kép theo cách tương tự từ tháng 4/2015. Những tin đồn về camera kép trên iPhone 7 cũng đã xuất hiện từ cuối 2015, đầu 2016.
</h4>
<img src="~/Hinhanh/tintuc/khi-cac-nha-san-xuat-android-chay-dua-de-copy-tu-nhung-chiec-iphone-chua-ra-mat%20(1).jpg" />

<h4>
    Như vậy, nếu xét về mặt tính năng, các nhà sản xuất Android đã luôn đón đầu các tin đồn về iPhone một cách cực kỳ nhanh nhẹn và chính xác. Trớ trêu là lĩnh vực “sản xuất Android” không dừng ở đây. Năm 2012, công ty chuyên sản xuất điện thoại “nhái” của Trung Quốc có tên GooPhone thậm chí đã dọa kiện Apple khi nhanh tay ra mắt chiếc “GooPhone i5” có thiết kế giống hệt thiết kế iPhone 5 rò rỉ tràn lan. 2 năm sau, câu chuyện lặp lại khi iPhone 6 chưa ra mắt cũng đã có hàng nhái Trung Quốc, giống từ giao diện cho tới thiết kế được hé lộ qua các tin đồn. Ngay cả chiếc iPhone SE mới phát hành gần đây cũng có phiên bản “Tàu” từ trước ngày ra mắt. Dĩ nhiên, phiên bản Android nhái của iPhone SE phải sử dụng lựa chọn màu cả iPhone 5 lẫn iPhone 5s đều không có: vàng hồng.Tất cả những điều này vẽ nên một kịch bản buồn cười: ngay từ trước khi ra đời, các thế hệ iPhone đã có ảnh hưởng sâu rộng tới Android. Đây không phải là một kịch bản dễ chịu với Táo, bởi để lộ thông tin cho phép các đối thủ đuổi sát hoặc vượt mặt hoàn toàn có thể gây ảnh hưởng tiêu cực tới doanh số iPhone. Khi giữ kín được những tính năng quan trọng nhất như trợ lý ảo Siri hoặc chip 64-bit, Apple đã khiến các đối thủ của mình phải vội vã bám đuổi.
    Nhưng thực tế lại không phải lúc nào Apple cũng thiệt. Ví dụ, HTC One Max ra mắt sau iPhone 5s chỉ một tháng nhưng lại thua xa về chất lượng trải nghiệm và bị chỉ trích nhiều tới mức HTC không dám đưa cảm biến này lên mẫu One M8 ra mắt vào đầu 2014.
    Các nhà sản xuất khác không chỉ đi sau iPhone tới vài tháng mà còn thua kém cả về khả năng thương mại hóa cảm biến vân tay: ban đầu Touch ID được dùng để mua ứng dụng và dịch vụ của Táo, sau đó được dùng làm chìa khóa cho dịch vụ chi trả Apple Pay. Với ngoại lệ duy nhất là Samsung, tất cả các hãng sản xuất Android nếu có dùng cảm biến vân tay để hỗ trợ chi trả di động thì cũng chỉ có thể hỗ trợ dịch vụ của Google hoặc một bên thứ ba khác. Rõ ràng là chiến lược kiểm soát cả phần cứng và phần mềm của Apple đã biến khả năng bám đuổi/đón đầu của các đối thủ trở nên vô nghĩa.
</h4>
<img src="~/Hinhanh/tintuc/khi-cac-nha-san-xuat-android-chay-dua-de-copy-tu-nhung-chiec-iphone-chua-ra-mat%20(2).jpg" />

<style>
    h4 {
        text-align: left;
    }
    h4  {
        text-indent: 50px; 
              /*dùng để dịch từ đầu tiên vào trong*/
    }
    h2 {
        text-indent: 30px;
    }
    span{
           
           color:red;
    }
</style>